{% extends "nav.html" %}
{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertible</title>
</head>
<body style="background-color: #F0FFCE;">
    <div class="pt-8 flex flex-col justify-center items-center text-center">
        <div style="width: 470px;">
        <h1 class="text-5xl pb-8 font-bold">Meet the Team!</h1>
        <p class="text-2xl pb-16">Learn more about the creators of the educational application and platform of Vertible!</p>
        <p class="underline font-bold">Founding Team</p>
        </div>
    </div>

    <br>
    <br>
    <br>


    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col sm:flex-row">

            <div class="flex flex-1 flex-col max-w-md rounded overflow-hidden shadow-lg mb-10 justify-start items-center" style="background-color: white;">
                <img class="w-2/3 justify-center items-center text-center mt-4" src="../static/img/people/timotea.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center">Timothy Hu</div>
                <p class="text-gray-700 text-center">
                    Hello! I am a student at Basis Independent Silicon Valley and I really enjoy making applications and websites like this one! It truly is a rewarding experience to use technology and applications to help make the world a greener place. I also love listening and playing music as it is one of my favorite pastimes!
                </p>
                </div>
            </div>

            <div class="flex ml-10 flex-1 flex-col max-w-md rounded overflow-hidden shadow-lg mb-10 justify-start items-center" style="background-color: white;">
                <img class="w-2/3 justify-center items-center text-center mt-4" src="../static/img/people/charles.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center">Charles Chen</div>
                <p class="text-gray-700 text-center">
                    Hi! My name is Charles Chen and I am currently BISV Junior. I love using my coding skills to build apps and websites like Vertible to help solve problems around us. I also enjoy using aerial photography to record beautiful moments and science in nature. These experiences have inspired me to contribute to building Vertible to protect a greener and more environmentally friendly planet.
                </p>
                </div>
            </div>

        </div>


        <div class="flex flex-col sm:flex-row">

            <div class="flex flex-1 flex-col max-w-md rounded overflow-hidden shadow-lg mb-10 justify-start items-center" style="background-color: white;">
                <img class="w-2/3 justify-center items-center text-center" src="../static/img/people/alison.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center">Alison Ding</div>
                <p class="text-gray-700 text-center">
                    Hello! I’m Alison, a junior from the Bay Area. I believe it is important that we conserve the earth for future generations, and I admire initiatives that motivate people to improve the environment. My hobbies include reading, dancing, and art.
                </p>
                </div>
            </div>

            <div class="flex ml-10 flex-1 flex-col max-w-md rounded overflow-hidden shadow-lg mb-10 justify-start items-center" style="background-color: white;">
                <img class="w-2/3 justify-center items-center text-center" src="../static/img/people/jiarong.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center">Jiarong Zhang</div>
                <p class="text-gray-700 text-center">
                    Hello, my name is Jiarong Zhang, I am currently a student at Basis Independent Silicon Valley. I am very passionate about the environment and see many issues with it currently. I hope to be able to make change with this project and spread awareness about the environment. I also like researching about computer hardware and playing music.
                </p>
                </div>
            </div>

        </div>


    </div>


</body>



</html>

{% endblock %}