{% extends "nav.html" %}
{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="pt-8 flex flex-col justify-center items-center text-center">
        <div style="width: 470px;">
            <h1 class="text-5xl pb-8 font-bold">User our Application!</h1>
            <p class="text-2xl pb-16">Learn more about how to use our application to prevent carbon emission!</p>

        </div>
    </div>
    <div class="flex flex-row justify-center items-center">
        <iframe class="mb-10" width="520" height="300" src="https://www.youtube.com/embed/aKgmJiqoyXM">
        </iframe>
    </div>
</body>

</html>
{% endblock %}